.container-xxl {
    background: var(--background);
}

.navbar {
    height: 56px;
}

.navbar-toggler {
    border: none;
}

    .navbar-toggler:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler:focus-visible {
        border: solid 1px var(--primary);
        box-shadow: none;
    }
