<nav class="navbar navbar-expand-md" height="56">
    <div class="container-xxl">
        <a href="/" class="me-2">
            <img src="images/logo.png" alt="logo" height="40" class="p-2" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house-fill" />
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="/exercises" Match="NavLinkMatch.All">
                        <i class="bi bi-activity" />
                        Exercises
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="/contact" Match="NavLinkMatch.All">
                        <i class="bi bi-envelope-fill"></i>
                        Contact
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="/faq" Match="NavLinkMatch.All">
                        <i class="bi bi-person-raised-hand"></i>
                        FAQ
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
