@page "/contact"

<PageTitle>Contact</PageTitle>

<div class="container-xxl d-flex flex-column justify-content-center h-100">
    <div class="contact-container d-flex flex-column align-items-center gap-3">
        <div class="contact-heading d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center">Get in Touch!</h1>
            <img src="images/contact.svg" alt="depiction of a woman delivering an envelope" height="330" />
        </div>
        <hr />
        <section class="row gap-3 gap-md-0">
            <article class="col-12 col-md-4">
                <h6 class="text-center"><span class="highlighted-word">Connect</span> With Me</h6>
                <p>If you have questions, need support, or want to share your thoughts, I'm just an email away. Your feedback and inquiries are always welcome, and I'm committed to providing you with the assistance you need.</p>
            </article>
            <article class="col-12 col-md-4 email-info">
                <h6 class="text-center">How to Reach Me</h6>
                <p>Email is the quickest and most efficient way to get in touch with me. Whether you have a question, feedback, or need support, I'm here to help.</p>
                <h6>Email Address:</h6>
                <a href="mailto:healthehubinfo@gmail.com" target="_blank">
                    HealthEHubInfo@gmail.com
                </a>
                <i class="bi bi-envelope-at-fill"></i>
            </article>
            <article class="col-12 col-md-4 faq-info">
                <h6 class="text-center">Additional Resources</h6>
                <p>For quick answers, you might find what you're looking for on the <a href="/faq">FAQ</a> page.</p>
                <img class="faq-image" src="images/faq-icon.svg" height="48" />
            </article>
        </section>
    </div>
</div>


@code {

}
