@page "/contact"
@inject ThemeService ThemeService

<PageTitle>Contact</PageTitle>

<div>
    <div>
        <div>
            <h1>Get in Touch!</h1>
            <img src="images/contact.svg" alt="depiction of a woman delivering an envelope" height="330" />
        </div>
        <hr />
        <section>
            <article>
                <h6><span>Connect</span> With Me</h6>
                <p>If you have questions, need support, or want to share your thoughts, I'm just an email away. Your feedback and inquiries are always welcome, and I'm committed to providing you with the assistance you need.</p>
            </article>
            <article>
                <h6>How to Reach Me</h6>
                <p>Email is the quickest and most efficient way to get in touch with me. Whether you have a question, feedback, or need support, I'm here to help.</p>
                <h6>Email Address:</h6>
                <a href="mailto:healthehubinfo@gmail.com" target="_blank">
                    HealthEHubInfo@gmail.com
                </a>
                <i></i>
            </article>
            <article>
                <h6>Additional Resources</h6>
                <p>For quick answers, you might find what you're looking for on the <a href="/faq">FAQ</a> page.</p>
            </article>
        </section>
    </div>
</div>


@code {

}
