@page "/exercises"
@inject HttpClient Http

<PageTitle>Exercises</PageTitle>

<div class="container-xxl py-3">
    <ExerciseBodyPart BodyParts="@BodyParts" />
    <form class="d-flex" @onsubmit="HandleSearch">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" @bind="searchTerm">
        <button class="btn btn-outline" type="submit">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <button class="btn btn-primary" @onclick="GoToPreviousPage" disabled="@(currentPage <= 1)">Previous</button>
    <button class="btn btn-primary" @onclick="GoToNextPage" disabled="@(currentPage >= MaxPages)">Next</button>

    <div class="d-flex flex-column justify-content-between my-3">
        <div class="row row-cols-2 row-cols-lg-4 row-cols-xl-5 g-3 justify-content-center justify-content-md-start">
            @if (searchedExercises is not null && searchedExercises.Count > 0)
            {
                @foreach (Exercise exercise in searchedExercises)
                {
                    <div class="col">
                        <ExerciseCard Exercise="exercise" />
                    </div>
                }
            }
            else
            {
                for (int i = 0; i < 10; i++)
                {
                    <div class="col">
                        <ExerciseCard />
                    </div>
                }
            }
        </div>
    </div>
</div>



@code {
    private int countPerPage = 20;
    private int currentPage = 1;
    private const int MaxPages = 65;
    private string[]? BodyParts;
    private string searchTerm = "";
    private List<Exercise>? allExercises;
    private List<Exercise>? searchedExercises;

    protected override async Task OnInitializedAsync()
    {
        await LoadExercises(0, countPerPage);
        BodyParts = await Http.GetFromJsonAsync<string[]>("/bodyparts");
    }

    private async Task LoadExercises(int offset, int limit)
    {
        var response = await Http.GetFromJsonAsync<List<Exercise>>($"/exercises?offset={offset}&limit={limit}");
        if (response is not null)
        {
            allExercises = response;
            searchedExercises = allExercises?.Take(limit).ToList();
        }
    }

    private async Task GoToNextPage()
    {
        if (currentPage >= MaxPages) return;

        currentPage++;
        int offset = (currentPage - 1) * countPerPage;
        await LoadExercises(offset, countPerPage);
    }

    private async Task GoToPreviousPage()
    {
        if (currentPage <= 1) return;

        currentPage--;
        int offset = (currentPage - 1) * countPerPage;
        await LoadExercises(offset, countPerPage);
    }

    private void HandleSearch()
    {
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            searchedExercises = allExercises?.Where(exercise =>
                exercise.Name?.ToLower().Contains(searchTerm.ToLower()) == true ||
                exercise.Target?.ToLower().Contains(searchTerm.ToLower()) == true ||
                exercise.Equipment?.ToLower().Contains(searchTerm.ToLower()) == true ||
                exercise.BodyPart?.ToLower().Contains(searchTerm.ToLower()) == true
            ).ToList();
        }
        else
        {
            searchedExercises = allExercises?.Take(10).ToList();
        }
    }
}