@page "/faq"

<PageTitle>Frequently Asked Questions</PageTitle>

<div class="container-xxl d-flex flex-column justify-content-center h-100">
    <div class="contact-container d-flex flex-column align-items-center gap-3">
        <div class="contact-heading d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center">Frequently Asked Questions</h1>
            <img src="images/faq.svg" alt="depiction of a woman delivering an envelope" height="330" />
        </div>
        <hr />
        <section class="row gap-3 gap-md-0 justify-content-center">
            <article class="col-12 col-lg-5 faq-info d-flex flex-column gap-1">
                <h6>Q: What is <span class="website-name">HealthEHub</span> all about?</h6>
                <p><strong>A:</strong> HealthEHub is your go-to source for all things health and fitness. My mission is to create a centralized hub where you can easily access a wealth of information and inspiration.</p>
                <p>Whether you're looking for guidance on specific exercises, seeking the right workout for particular equipment or muscle groups, or just exploring ways to enhance your fitness journey, HealthEHub has you covered.</p>
                <p>I'm dedicated to making it simpler for you to find reliable, practical information that empowers your health and fitness goals.</p>
                <img class="faq-image" src="images/faq-icon.svg" height="48" />
            </article>
            <article class="col-12 col-lg-5 faq-info d-flex flex-column gap-1">
                <h6>Q: How often is the content updated?</h6>
                <p><strong>A:</strong> The majority of the content on HealthEHub is sourced from external sources. I regularly monitor these sources to ensure the information displayed on the site is current and accurate.</p>
                <p>My goal is to provide you with the most up-to-date and reliable health and fitness information.</p>
                <p>Typically, I review and refresh content from these sources on a weekly basis to maintain the high standard of information you deserve.</p>
                <img class="faq-image" src="images/faq-icon.svg" height="48" />
            </article>
            <article class="col-12 col-lg-5 faq-info d-flex flex-column gap-1">
                <h6>Do I need an account to use HealthEHub?</h6>
                <p><strong>A:</strong> No, there is no requirement to have an account to use this website.</p>
                <img class="faq-image" src="images/faq-icon.svg" height="48" />
            </article>
            <article class="col-12 col-lg-5 faq-info d-flex flex-column gap-1">
                <h6>Can I provide feedback about HealthEHub?</h6>
                <p>
                    <strong>A:</strong> Absolutely! Your feedback is invaluable. please send any comments or suggestions to
                    <a href="mailto:healthehubinfo@gmail.com" target="_blank">
                        HealthEHubInfo@gmail.com
                    </a>
                </p>

                <img class="faq-image" src="images/faq-icon.svg" height="48" />
            </article>
        </section>
    </div>
</div>

@code {

}
