:root[data-theme="dark"] {
    /*Primary Theme Colors*/
    --text: #edf2f8;
    --background: #03060c;
    --primary: #8eb3eb;
    --secondary: #3d5171;
    --accent: #1873fb;
    /*Theme shades*/
    --text-50: #070c12;
    --text-100: #0e1825;
    --text-200: #1d3149;
    --text-300: #2b496e;
    --text-400: #396293;
    --text-500: #477ab8;
    --text-600: #6c95c6;
    --text-700: #91afd4;
    --text-800: #b6cae2;
    --text-900: #dae4f1;
    --text-950: #edf2f8;
    --background-50: #050a14;
    --background-100: #0a1429;
    --background-200: #142952;
    --background-300: #1f3d7a;
    --background-400: #2952a3;
    --background-500: #3366cc;
    --background-600: #5c85d6;
    --background-700: #85a3e0;
    --background-800: #adc2eb;
    --background-900: #d6e0f5;
    --background-950: #ebf0fa;
    --primary-50: #040b16;
    --primary-100: #08162b;
    --primary-200: #0f2c57;
    --primary-300: #174282;
    --primary-400: #1f58ad;
    --primary-500: #266ed9;
    --primary-600: #528be0;
    --primary-700: #7da8e8;
    --primary-800: #a8c5f0;
    --primary-900: #d4e2f7;
    --primary-950: #e9f0fb;
    --secondary-50: #090c11;
    --secondary-100: #121821;
    --secondary-200: #242f42;
    --secondary-300: #364763;
    --secondary-400: #475f85;
    --secondary-500: #5977a6;
    --secondary-600: #7a92b8;
    --secondary-700: #9cadc9;
    --secondary-800: #bdc8db;
    --secondary-900: #dee4ed;
    --secondary-950: #eef1f6;
    --accent-50: #000a19;
    --accent-100: #011532;
    --accent-200: #022964;
    --accent-300: #023e97;
    --accent-400: #0352c9;
    --accent-500: #0467fb;
    --accent-600: #3685fc;
    --accent-700: #68a4fd;
    --accent-800: #9bc2fd;
    --accent-900: #cde1fe;
    --accent-950: #e6f0ff;
}

/* Set directly to root for now, refactor to set as: [data-theme="light"]*/
:root {
    /*Primary Theme Colors*/
    --text: #070c12;
    --background: #f3f6fc;
    --primary: #143971;
    --secondary: #8ea3c2;
    --accent: #045fe7;
    /*Theme shades*/
    --text-50: #edf2f8;
    --text-100: #dae4f1;
    --text-200: #b6cae2;
    --text-300: #91afd4;
    --text-400: #6c95c6;
    --text-500: #477ab8;
    --text-600: #396293;
    --text-700: #2b496e;
    --text-800: #1d3149;
    --text-900: #0e1825;
    --text-950: #070c12;
    --background-50: #ebf0fa;
    --background-100: #d6e0f5;
    --background-200: #adc2eb;
    --background-300: #85a3e0;
    --background-400: #5c85d6;
    --background-500: #3366cc;
    --background-600: #2952a3;
    --background-700: #1f3d7a;
    --background-800: #142952;
    --background-900: #0a1429;
    --background-950: #050a14;
    --primary-50: #e9f0fb;
    --primary-100: #d4e2f7;
    --primary-200: #a8c5f0;
    --primary-300: #7da8e8;
    --primary-400: #528be0;
    --primary-500: #266ed9;
    --primary-600: #1f58ad;
    --primary-700: #174282;
    --primary-800: #0f2c57;
    --primary-900: #08162b;
    --primary-950: #040b16;
    --secondary-50: #eef1f6;
    --secondary-100: #dee4ed;
    --secondary-200: #bdc9db;
    --secondary-300: #9caec9;
    --secondary-400: #7a93b8;
    --secondary-500: #5978a6;
    --secondary-600: #476085;
    --secondary-700: #364863;
    --secondary-800: #243042;
    --secondary-900: #121821;
    --secondary-950: #090c11;
    --accent-50: #e6f0ff;
    --accent-100: #cde1fe;
    --accent-200: #9bc2fd;
    --accent-300: #68a4fd;
    --accent-400: #3685fc;
    --accent-500: #0467fb;
    --accent-600: #0352c9;
    --accent-700: #023e97;
    --accent-800: #022964;
    --accent-900: #011532;
    --accent-950: #000a19;
}

.btn-primary {
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-bg: var(--accent-500);
    --bs-btn-hover-border-color: var(--accent-500);
    --bs-btn-active-bg: var(--accent-600);
    --bs-btn-active-border-color: var(--accent-600);
}

    .btn-primary:focus {
        box-shadow: none;
    }

.btn-outline {
    --bs-btn-color: var(--primary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: var(--accent-500);
    --bs-btn-hover-border-color: var(--accent-500);
    --bs-btn-active-color: var(--accent-600);
    --bs-btn-active-border-color: var(--accent-600);
}

input[type="search"]:focus {
    box-shadow: none;
    border-color: var(--accent-500);
}

.nav-link {
    color: var(--primary);
}

.navbar-nav .nav-link:hover {
    color: var(--accent-500);
}

.navbar-nav .nav-link.active {
    color: var(--accent-600);
}
