@*Keyframes by https://animate.style/*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style type="text/css">

    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }

    .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
    }

</style>
<MudStack AlignItems="AlignItems.Center">
    <MudCarousel Class="mud-width-full" Style="height:300px;" TData="object" AutoCycle="false" AutoCycleTime="TimeSpan.FromSeconds(12)">
        <MudCarouselItem Color="@Color.Transparent" Transition="Transition.Custom" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
            <div class="d-flex justify-center" style="height:100%">
                <MudStack AlignItems="AlignItems.Center">
                    <MudText Typo="Typo.h4"> SORT </MudText>
                    <MudImage Src="images/hero-bg.svg" Height="150" />
                    <MudText Typo="Typo.overline">SORT AND BROWSE BY EQUIPMENT</MudText>
                </MudStack>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Color="@Color.Transparent" Transition="Transition.Custom" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
            <div class="d-flex justify-center" style="height:100%">
                <MudStack AlignItems="AlignItems.Center">
                    <MudText Typo="Typo.h4"> DISCOVER </MudText>
                    <MudImage Src="images/hero-bg.svg" Height="150" />
                    <MudText Typo="Typo.overline">DISCOVER BODYWEIGHT EXERCISES</MudText>
                </MudStack>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
            <div class="d-flex justify-center" style="height:100%">
                <MudStack AlignItems="AlignItems.Center">
                    <MudText Typo="Typo.h4"> RELAX </MudText>
                    <MudImage Src="images/hero-bg.svg" Height="150" />
                    <MudText Typo="Typo.overline">RELAX AND RECOVER WITH STRETCHING EXERCISES</MudText>
                </MudStack>
            </div>
        </MudCarouselItem>
    </MudCarousel>
    <MudButton Href="/exercises" Variant="Variant.Outlined">Go To Exercises</MudButton>
</MudStack>
<MudDivider Class="my-6" />
@code {
    private string AnimationEntrance = "bounceIn";
    private string AnimationExit = "bounceOut";
}