<div role="alert" class="container-xxl d-flex flex-column justify-content-center h-100">
    <div class="error-container d-flex flex-column align-items-center gap-3">
        <div class="error-heading d-flex flex-column">
            <h1 class="text-center">Oops! This Page Can't be Found</h1>
            <img src="images/not-found.svg" height="330" />
        </div>
        <div class="error-description">
            <h6 class="text-center">It looks like the page you're trying to reach doesn't exist or may have been moved. We're sorry for the inconvenience!</h6>
            <hr />
            <strong class="strong-heading">Here's what you can do next:</strong>
            <ul class="pt-2">
                <li>
                    <strong>Double-check the URL:</strong>If you typed the URL yourself, please make sure you spelled it correctly.
                </li>
                <li>
                    <strong>Head Back to Our Homepage:</strong> Start from square one and navigate to your desired page from there.
                </li>
                <li>
                    <strong>Need Assistance?</strong> If you're stuck, feel free to contact us.
                </li>
            </ul>
        </div>
        <div class="button-container">
            <a class="btn btn-primary" href="/">Back To Home</a>
            @* TODO: LINK TO CONTACT PAGE ONCE IT IS IMPLEMENTED *@
            <a class="btn btn-outline" href="/contact">Contact Us</a>
        </div>
    </div>
</div>

@code {

}
