<div class="sliding-cards-container">
    <input class="visually-hidden" type="radio" name="slide" id="c1" checked>
    <label for="c1" class="card">
    </label>
    <input class="visually-hidden" type="radio" name="slide" id="c2">
    <label for="c2" class="card">
    </label>
    <input class="visually-hidden" type="radio" name="slide" id="c3">
    <label for="c3" class="card">
    </label>
</div>

@code {

}
