.sliding-cards-section {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}

.sliding-cards-container {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.card-info, .card-label {
    width: 6rem;
}

.card-info {
    display: flex;
    flex-direction: column;
}

button {
    margin: auto;
}

span {
    color: var(--text);
}

.card-label {
    height: 27rem;
    border-radius: 1.3rem;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.4rem -0.2rem var(--primary);
}

input:checked + label {
    width: 32rem;
}

    input:checked + label + .card-info {
        width: 32rem;
        margin: auto;
    }

.card-label[for="c1"] {
    background-image: url('images/goblet-squat.png');
}

.card-label[for="c2"] {
    background-image: url('images/push-up.png');
}

.card-label[for="c3"] {
    background-image: url('images/stretching.png');
}

@media (max-width: 767px) {
    .sliding-cards-container {
        flex-direction: column;
    }

    .card-label {
        height: 4rem;
        width: 100%;
    }

    input:checked + label {
        height: 25rem;
        width: 100%;
    }

        input:checked + label + .card-info {
            width: 100%;
        }

    span {
        padding: 0 0.5rem;
    }

    .card-label[for="c1"] {
        background-image: url('images/goblet-squat-cropped.png');
    }

    .card-label[for="c2"] {
        background-image: url('images/push-up-cropped.png');
    }

    .card-label[for="c3"] {
        background-image: url('images/stretching-cropped.png');
    }
}
