<div class="sliding-cards-section">
    <h1 class="text-center">Explore a collection of over 1300 exercises</h1>
    <div class="sliding-cards-container">
        <div class="sliding-card-container">
            <input class="visually-hidden" type="radio" name="slide" id="c1" checked>
            <label for="c1" class="card-label">
            </label>
            <div class="card-info">
                <span class="text-center d-inline-block text-truncate">Sort and browse by equipment</span>
            </div>
        </div>

        <div class="sliding-card-container">
            <input class="visually-hidden" type="radio" name="slide" id="c2">
            <label for="c2" class="card-label">
            </label>
            <div class="card-info">
                <span class="text-center d-inline-block text-truncate">Discover body weight exercises</span>
            </div>
        </div>

        <div class="sliding-card-container">
            <input class="visually-hidden" type="radio" name="slide" id="c3">
            <label for="c3" class="card-label">
            </label>
            <div class="card-info">
                <span class="text-center d-inline-block text-truncate">Relax and recover with stretching exercises</span>
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Visit Exercises Page</button>
</div>

@code {

}
